
<html>
    <head>
        
        <style>
            .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
        </style>
    
    
    
            
       
    </head>
    <body>
        <script>
        alert("phone no not matches");
        </script>
        
        
    <form id="formcheck" action="/candidate" method="GET">
   <center>    <input type="submit" class="button" value="signup again" id="signup-submit"></center>
    </form>
        
        
    </body>
    </html>