<html>

<head>

</head>
<body>
    <a href="g1"><h3>count of the voters wrt gender
    </h3></a>
    <br>
    
    <a href="g2"><h3>count of the voters wrt district</h3></a>
    <br>
    
    <a href="g3"><h3>count of the voters wrt gender and district</h3></a> 
   <br>
   <a href="g4"><h3> range of age of the voters
</h3></a>
<br>

<a href="g6"><h3>range of age of the voters wrt district</h3></a>
<br>

<a href="g8"><h3>categories of age group of the voters</h3></a> 
<br>
<a href="g9"><h3>categories of age group of the voters wrt district
</h3></a>
<br>

<a href="g10"><h3>count of votes to the respective parties wrt age of the voters</h3></a>
<br>

<a href="g11"><h3>count of votes to the respective parties wrt age group of the voters </h3></a> 
<br>
<a href="g12"><h3>total count of votes and nota votes </h3></a> 
<br>
<a href="g13"><h3> total count of votes and nota votes wrt gender</h3></a> 
<br>
<a href="g14"><h3>total count of votes and nota votes wrt district </h3></a> 
<br>
<a href="g16"><h3>count of votes and nota votes wrt age group of the voters </h3></a> 
<br>
<a href="g17"><h3> leading parties in each district and count of nota votes wrt district</h3></a> 
<br>
<a href="g18"><h3>vote counts wrt each parties (leading order of the parties)</h3></a>
<br>
</body>
</html>