<!DOCTYPE html>
<html>
    <head>
        <title>E-VOTE</title></head>
        <style>
          body {
           
            background-image: url('hd2.jpg');
 background-repeat: no-repeat;
            background-attachment: fixed;
  background-size:100% 85%;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
  
          }
          h1{
            color:rgb(11, 218, 200)
          }
          h2{
            color:rgb(247, 243, 27)
            
          }
          .header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  /*background-color: #333;*/
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color:blue;
  color: black;
}
.button {
  background-color: #5e5183;
  border: none;
  color: rgb(217, 226, 230);
  padding: 15px 32px;
  text-align: center;
  
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
}
.button :hover {
  background-color:blue;
  color: black;
}
          </style>
         </head>
        


  

  <div class="topnav" >
    <a href="data"><h1>RESULTS</h1></a>
    <a href="type"><h1>SIGNUP</h1></a>
    <a href="login"><h1>LOGIN</h1></a> 
   
    
  </div>
  <center>
    <marquee behavior="alternate"> <h2 style="font-family:'Times New Roman', Times, serif;">“Democracy is not just the right to vote, it is the right to live in dignity.”
  "The ignorance of one voter in a democracy impairs the security of all."</h2></marquee>
  </center>
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
<form name="results" method="POST" action="/results">
<input type="submit" class="button" name="results" value="Current Votes">

</form>

  </center>
    
    </body>
    </html>