<!DOCTYPE html>
<html>
        <head>
        <title>Signup</title>
        <link rel="stylesheet" href="signup.css">
    </head><body>
      <main id="smain-id">
    <h1 id="sign">USERTYPE</h1>
    <form id="signup-form1" name="sform" method="POST"  action="/type">
        <br>
        <input type="radio" id="user" name="usertype1" value="user">USER<br>
        <br>
        <input type="radio" id="candidate" name="usertype1" value="candidate">CANDIDATE
        <br>
        <br>
        <br>
        <input type="submit" value="signup" id="signup-submit">
    </main>
    </form>
    </body>
    </html>